<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag ("carousel1.jpg") %>
      <div class="carousel-caption">
        <h1 class="text-center">Otoshimonno</h1>
        <p class="text-center">忘れ物・落し物をしない習慣を付けてくれるアプリ</p>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("carousel2.jpeg") %>
      <div class="carousel-caption">
        インターネットの拾得物掲示板を実現
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<hr>


<div class="text-center">
  <%= link_to '新規登録', new_user_registration_path ,  :class => 'btn btn-default' %>
  <%= link_to 'ログイン', new_user_session_path,  :class => 'btn btn-default' %>
  <%= link_to 'もっと詳しく', '#',  :class => 'btn btn-default' %>
</div>
