


<div class="text-center" style="background-color:#79D1B0;">
  <h1 class=" animated fadeInLeftBig" style="font-family:AIRSTREAM; letter-spacing: 5px;">Otoshimonno<span style="font-size: 20px;">-オトシモンノ-</span></h1>
  <p >おっちょこちょいなあなたに、忘れ物・落し物をしない習慣を付けてくれます。</p>
  <a><%= link_to '新規登録', new_user_registration_path ,  :class => 'btn btn-lg btn-primary' %></a>
  <a><%= link_to 'サインイン', new_user_session_path,  :class => 'btn btn-lg btn-warning' %></a>
</div>

<div id="carousel-example-generic" class="carousel slide cal2" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <div class="item active">
      <%= image_tag ("carousel1.jpg")%>
    </div>
    <div class="item">
      <%= image_tag ("carousel2.jpg")%>
    </div>
    <div class="item">
      <%= image_tag ("carousel3.jpg") %>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



  <div class="content-section-a" style="border-top: 0">
    <div class="container">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>What is?</h2>
        <p class="lead">オトシモンノは落し物を探す為のアプリではありません。</p>
        <p class="lead">落し物・忘れ物を無くす最大の手段として、常に今いる場所を手動で更新していただきます。</p>
        <p><a href="/help" class="btn btn-embossed btn-primary view" role="button">View Details</a></p>
      </div>

      <div class="row">
        <div class="col-sm-4 wow fadeInDown text-center">
          <%= image_tag 'icon/tweet.svg', :class => 'rotate' ,:alt => 'alt="Generic placeholder image'%>
          <h3>Register on Twitter</h3>
          <p class="lead">OAuth認証で面倒な登録を省きます。</p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
           <%= image_tag 'icon/map.svg', :class => 'rotate' ,:alt => 'alt="Generic placeholder image'%>
           <h3>Google</h3>
           <p class="lead">お使いの端末から位置情報を取得し、いざ紛失した時でも保存した位置を辿って物を見つけることができます。</p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->

        <div class="col-sm-4 wow fadeInDown text-center">
          <%= image_tag 'icon/browser.svg', :class => 'rotate' ,:alt => 'alt="Generic placeholder image'%>
           <h3>SoLaF</h3>
         <p class="lead">地域別の拾得物掲示板機能も実装。</p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </div>
  </div>



  <hr align="center" width="30%">
  <div class="sign">
    <h3 class="text-center">まずは新規登録から！</h3>
    <div class="text-center">
      <%= link_to '新規登録', new_user_registration_path ,  :class => 'btn btn-lg btn-primary' %>
      <%= link_to 'ログイン', new_user_session_path,  :class => 'btn btn-lg btn-warning' %>
    </div>
  </div>
  <hr align="center" width="30%">
<br><br><br><br><br>




  </div>




