<div class="col-md-12 col-xs-12 text-center" style="border-bottom:2px solid #bdc3c7;;">
<%= image_tag current_user.avatar, :class => 'img img-responsive', :size => '150x150', :style => 'margin: 0 auto;' %>
<%= current_user.nickname%>さん<br>
	</div>
<div class="container">
	<div class="col-md-12">
<h4>ステータス:</h4>

<p>アイテムの登録回数:<%= current_user.items.count %>回</p>
<p>位置情報の登録回数:<%= current_user.locations.count + current_user.items.count %></p>
</div>


<%= link_to 'プロフィール編集', edit_user_registration_path(current_user.id), :class => 'btn btn-warning' %>
</div>



