= form_for([@user, @item]) do |f|
  .form-group.item-name
    = f.label 'アイテム名'
    = f.text_field :item_name, class: 'form-control', maxlength: '20', id:'item-name'
  .form-group
    = f.label 'メモ(2行程度)'
    = f.text_area :maker, col:'60', row:'30', class:'form-control'
  .form-group
    = f.label 'イメージ'
    = f.file_field :image, class: 'fileInput'
  = f.fields_for :locations do |b|
    = b.hidden_field :latitude
    = b.hidden_field :longitude
  = button_tag :submit, id:'myButton', class: 'btn btn-primary', autocomplete: 'off', form: {:'data-loading-text'=> 'Loading...'}

:javascript
  var grid = new Minigrid({
    container: '.cards',
    item: '.card',
    gutter: 6
  });
  grid.mount();
