<p id="notice"><%= notice %></p>



<%= link_to 'New Item', new_item_path %>

<h1>ItemLine</h1>

<div class="row-fruid">
  <%@items.each do |item| %>
    <div class="col-md-3 col-xs-12">
    <div class="thumbnail ">
      <% if item.image? %><a href="/items/<%= item.id %>"><%=image_tag item.image.url, :class => 'img-rounded' %></a>
      <%else%>
      <a href="/items/<%= item.id %>"><%=image_tag 'noimage.png' %>
      <%end%>

      <div class="caption text-center">
        <h3><a href="/items/<%= item.id %>">【<%= item.maker %>】<%= item.item_name %></a></h3>
        <p><%=item.address%></p>
        <p><small><%= link_to current_user.nickname, root_path %>さん</small></p>
      </div>
    </div>
  </div>
    <% end %>
  </div>
<br>


<div class="col-md-12">
<%= paginate(@items) %>
  </div>

