<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @item.maker %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @item.image.url %>
</p>

<p>
  <strong>address:</strong>
  <%= @item.address %>
</p>

<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@item.latitude}%2C#{@item.longitude}"%>

<br>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>

