<p id="notice"><%= notice %></p>
<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<div class="thumbnail col-md-12 col-xs-4">
<p>
  <strong>Image:</strong>
  <%= image_tag @item.image.url %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Maker:</strong>
  <%= @item.maker %>
</p>



<p>
  <strong>address:</strong>
  <%= @item.address %>
</p>

<div style='width: 800px;'>
  <div id="map" style='width: 600px; height: 400px;'></div>
</div>

<script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
</script>

<br>
  <%= link_to '編集', edit_item_path(@item), :class => 'btn btn-default' %>
  <%= link_to '削除',  item_path(params[:id]),  method: :delete, :class => 'btn btn-danger' %>
  <%= link_to '戻る', items_path,  :class => 'btn btn-default' %>


<br>
<br>
<br>
</div>
