<!DOCTYPE html>
<html>
<head>
  <title>Otoshimono</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="animated fadeIn">
  <% unless controller.action_name == "welcome" %>
    <%= render partial: 'common/header' %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>


<% unless controller_name =="items" || controller_name == "users" %>
  <%= render partial: 'common/footer'%>
<%end%>

</body>
</html>