<!DOCTYPE html>
<html>
<head>
  <title>Otoshimonno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta  name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
</head>
<body class="animated fadeIn">
  <% unless controller.action_name == "welcome"%>
		<%= render partial: 'common/header' %>
		<% flash.each do |name, msg| %>
  <div class="alert alert-<%= name == "notice" ? "success" : "error" %>">
    <a class="close" data-dismiss="alert">×</a> <!-- アラートダイアログに×ボタンをつける -->
    <%= msg %>
  </div>
<% end %>
  <% end %>

  <%= yield %>

<% unless controller_name =="items" || controller_name == "users" || controller_name == "locations" %>
  <%= render partial: 'common/footer'%>
<%end%>

</body>
</html>